<md-card fxLayout="row">
  <img *ngIf="authService.photoUrl;else noPhotoTemplate" [src]="authService.photoUrl" alt="Google profile photo">
  <ng-template #noPhotoTemplate> 
  <img src="/assets/images/missing_photo.png" alt="Missing photo">
  </ng-template>
  
  <form fxFlex fxLayout (ngSubmit)="onSubmit()">
  <md-input-container fxFlex divderColor="#008080">
    <input mdInput type="text" placeholder="Make a Post" required
    [(ngModel)]="postBodyText" name="postBodyText">
  </md-input-container>
  </form>
</md-card>
